<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" href="../../webjars/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<meta charset="ISO-8859-1">
<title>My PhotoShop</title>
</head>
<body>
	<div th:replace="fragment/header :: header"></div>
	<div class="container">
		<h1 class="text-center" 
		th:text="'Library of  '+ ${child.firstname}+' '+${child.lastname}+ '(' +${child.clazz.name}+ '=>' +${child.school.name}+ ')'"></h1>
		<div class="row">
		  	<div class="col-xs-6 col-md-4" th:each="pht : ${photos}" th:id="'photo'+${pht.photoId}"> 
		  		<p class="btn-gest">
		  			<a th:href="@{/photographer/editPhoto/{id}/{id2}(id=${pht.photoId},id2=${child.school.schoolId})}">
		  				<button type="button" class="btn btn-primary">Edit</button>
					</a>
					<button type="button" class="btn btn-danger">
	  					<input type="hidden" th:value="${pht.photoId}"/>
	  					Delete
	  				</button>
		  		</p>
				<img class="text-center" th:src="'/images/'+${pht.path}" height="250" width="250" th:alt="${pht.name}"/>
			</div>
		</div>
	</div>
	
	<script src="/js/delete.js"></script>
</body>
</html>